# Created by .ignore support plugin (hsz.mobi)
/.idea/
/demo-api/logs/
/demo-api/target/
/demo-model/logs/
/demo-model/target/
/demo-util/logs/
/demo-util/target/
/javaDemo.iml
/demo-model/demo-model.iml
/demo-api/demo-api.iml
/demo-util/demo-util.iml
