<?xml version="1.0" encoding="UTF-8"?>
<!-- 主要是自动扫描控制器，视图模式，注解的启动这三个 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!--这影响了正常返回实体的json,所以不用了，在每个方法上写运回编码-->
	<!--解决Spring MVC @ResponseBody返回中文字符串乱码问题，需要放在context:component-scan前-->
	<!--提示过时<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >-->
	<!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class = "org.springframework.http.converter.StringHttpMessageConverter">
					<property name = "supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>-->

	<!-- 自动扫描该包(多个包以 逗号分隔)，使SpringMVC认为包下用了@controller注解的类是控制器。实现支持注解的IOC -->
	<context:component-scan base-package="com.shangpin.demo" />

	<!-- 如果加了下边的静态资源配置则必须加这句，加这句才可以正确拦截jsp页面。支持mvc注解驱动 -->
	<mvc:annotation-driven/>
	<!-- 加了之后就可以访问这些静态资源了 -->
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	
	<!--启动SpringMVC注解与Json消息转换器。避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" /> <!-- JSON转换器 -->
			</list>
		</property>
	</bean>
	<!-- 内部视图解析器，JSP与JSTL模板 -->
	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--指定视图渲染类 -->
		<property name="viewClass"
				  value="org.springframework.web.servlet.view.JstlView" />
		<!--自动添加到路径中的前缀 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<!--自动添加到路径中的后缀 -->
		<property name="suffix" value=".jsp" />
		<!-- 在页面中使用${rc.contextPath}就可获得contextPath -->
		<property name="requestContextAttribute" value="rc" />
		<!--设置所有视图的内容类型，如果视图本身设置内容类型视图类可以忽略 -->
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!-- 优先级，越小越前 -->
		<property name="order" value="1" />
	</bean>
</beans>